@(form: Form[User_Controller.Login])

@main("Please Log In") {
    <div class="header">
        <div class="header-top">
            <div class="wrap">
                <div class="logo">
                    <a href="/"><img src="@routes.Assets.at("images/logo.png")" alt="" /></a>
                </div>
                <div class="cssmenu">
                    <ul id="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">Sign up</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/listAllUsers">Admin</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class ="bluebox"></div>
    <div>

        @helper.form(routes.User_Controller.authenticate) {
        <h1> Please Log in </h1>

        <p>
            <label>Your username</label>
            <input type="text" name ="user_name" placeholder="user_name" value="@form("user_name").value">
        </p>
        <p>
            <label>Your password</label>
            <input type="password" name="password" placeholder="password">
        </p>
        <p>
            <button type="submit">Login</button>
        </p>

        }
    </div>

}






