
.above-chat-button {
    -moz-box-shadow:inset 0px 39px 0px -24px #6C5775;
    -webkit-box-shadow:inset 0px 39px 0px -24px #6C5775;
    box-shadow:inset 0px 39px 0px -24px #6C5775;
    background-color:#6C5775;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #6C5775;
}
.above-chat-button:hover {
    background-color:#6C5775;
}
.above-chat-button:active {
    position:relative;
    top:1px;
}


.chat-container {

    width: 100%;
    height: 100%;


}


#mainvideo {
    display: flex;
}
#actionbutton {
    width: 210px;
    /* background: lightblue;*/
    /* Just so it's visible */
}
#instructorvideo {
    flex: 1;
    /* Grow to rest of container */
    /*background: lightgreen; */
    /* Just so it's visible */
}

#takeactionbutton {
    width:  45%;
    height: 45%;
    background-color: #6C5775;
}
ul#actions
{
    display:none;
}
.hover_action:hover ul#actions
{
    display: block;
}


