<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/oc.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="header">	
  <div class="header-top">
       <div class="wrap"> 
	         <div class="logo">
				<a href="index.html"><img src="./images/logo.png" alt="" /></a>
			 </div>
			 <div class="cssmenu">
				<ul id="nav">
					 <li class="current"><a href="#section-1">Sign Up</a></li>
					 <li><a href="#section-2">Main</a></li>
					 <li><a href="#section-3">Teach</a></li>
					 <li><a href="#section-4">Learn</a></li>
                     <li><a href="#/profile">Profile</a></li>
				</ul>
		    </div>
		    <div class="clear"></div>
	   </div>
	 </div>
</div>
<br />
<br />

		<div  class ="bluebox"></div>
 <div class="wrap">
<br/>
<br/>
<h1 class="signUpTitle">  ACIDS AND BASES CHEMISTRY </h1>
<br />
<br />
  

<iframe width="800" height="480" src="https://www.youtube.com/embed/MlH-qE-Xki8" frameborder="0" allowfullscreen></iframe>

<img src="images/students.PNG" width="802" height="68" />
</body>
</html>

