<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<link href="@routes.Assets.at("../../../public/stylesheets/style.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@routes.Assets.at("../../../public/stylesheets/oc.css")" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="header">	
    <div class="header-top">
       <div class="wrap"> 
	         <div class="logo">
				<a href="\"><img src="@routes.Assets.at("images/logo.png")" alt="" /></a>
			 </div>
			 <div class="cssmenu">
				<ul id="nav">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/course">Course</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                    <li><a href="/listAllUsers">Admin</a></li>
                    <li><a href="/logout">Logout</a></li>
				</ul>
		    </div>
		    <div class="clear"></div>
	   </div>
  </div>
</div>
<br />
<br />

<div  class ="bluebox"></div>
 
<div class="wrap">
	<div class="container">
 	 <div class="profile-pic">
        <img src="@routes.Assets.at("../../../public/images/user01.PNG")" />
        
  </div>
  
  <span class="bioName" >Andrew Erlichson</span>
  <hr />
  <span class="addressContent"> San Jose, CA </span>
  <div class="bioName">Rewards </div>
<hr />
  <div class="addressContent"> Andrew believes education can change the world </div>
  <hr />
  <span class="bioName"> Joined on: </span>   
  <div class="addressContent">March 7, 2015 </div>
  <div class="bioName">Public URL:</div>
  <div class="addressContent">www.andrewerlichson.com</div>
</div>
 <div class="container-right">
  
 <P> <div class="bioTitle">Biography</div> 
 <div align="right"> <input class="editProfile"  name="Edit Profile" value="Edit Profile" type="button" /></div>
  </P>
  <hr />
  <div class="bioDetails">
  <P>
  Andrew designs and implements the worldwide education efforts around MongoDB. Prior to MongoDB, Inc., Andrew was CEO and founder of Phanfare, an online photo hosting company, now part of Carbonite. Prior to Carbonite, he was founder and CEO of Flashbase, a web service that offered helpers-service online database forms and analysis tools. Flashbase was acquired by DoubleClick. At DoubleClick, Andrew was Vice President of Technology for the Research and Development group. He has worked at Mips Computer Systems, Silicon Graphics and BlackRock. Andrew received his A.B. from Dartmouth College and his M.S. and Ph.D. in Electrical Engineering from Stanford University.
  </P>
  </div>
     <div class="bioTitle">Coming Session</div>
     <div align="center">
         <h1> >>> Demo Day on May 8, 2015 <<< </h1>
         <br>
         <a href="http://52.11.111.157:3000"><input class="editProfile"name="Go to class" value="Go to class" type="button" /></a>
     </div>

</div>
        <br>
        <br>

</body>
</html>
